@using System.Web.Optimization

@{
	Layout = "~/Shared/Views/_Layout.cshtml";
	ViewBag.BodyClass += " GameList ";
}

@{
	Html.RenderPartial("Components/_GameSummary");
	Html.RenderPartial("Components/_Highlight");
	Html.RenderPartial("Components/_Backers");
	Html.RenderPartial("Components/_BoxScore");
}

<div class="settings flex" v-if="showingGameList">
	<div class="day-nav">
		<a v-bind:href="getUrlDayBefore(date)">
			<i class="fa fa-chevron-circle-left"></i>
		</a>
		<input type="text" id="calendarpicker" v-bind:value="getFriendlyDate(date)" v-bind:size="getFriendlyDate(date).length + 1" />
		<i class="fa fa-calendar" aria-hidden="true"></i>
		<a v-bind:href="getUrlDayAfter(date)">
			<i class="fa fa-chevron-circle-right"></i>
		</a>
	</div>

	<div class="tools flex">
		<select id="favorite-team" v-on:change="setFavoriteTeam">
			<option>- Select Favorite Team -</option>

			<option v-for="(teamName, teamCode) in teams" v-bind:value="teamCode" v-bind:selected="isFavoriteTeam(teamCode)">{{teamName}}</option>
		</select>
		<div class="hide-scores">
			<input type="checkbox" id="scoreshidden" v-on:change="onChangeHideScores" v-bind:checked="hideScores" />
			<label for="scoreshidden">Hide Scores</label>
		</div>
	</div>
</div>

<div id="search-fake">
	<input style="width: 90%; max-width: none;margin: 3rem auto;padding: 10px; font-size: 36px;" v-model="query" placeholder="Search for highlights" v-on:keyup="search" />
	<div id="results">
		<a v-bind:href="result.video_s" v-for="result in results" style="display: flex; margin-bottom: 1rem;">
			<div v-bind:style="{backgroundImage: 'url(' + result.thumb_s + ')'}" style="width: 50px; height: 50px; background-size: cover; background-position: center;display: block; margin-right: 1rem;"></div> <p style="padding-left: 1rem; margin: 0;">
				{{result.headline}} ({{result.duration}})
				<br />
				<span style="color: black;">{{getDate(result)}}</span>
			</p>
		</a>
	</div>
</div>


@Html.Partial("_game_list")

@Html.Partial("_game_detail")

@Html.Partial("_backers")

@Html.Partial("_news")


@Scripts.Render("~/scriptbundles/app")