

<template id="game-summary">
	<div class="game-summary" v-bind:data-homecode="game.homeFileCode" v-bind:data-awaycode="game.AwayFileCode">
		<a v-bind:href="/game/dayString/game.GamePk" class="game-link"></a>

		<table>
			<tr>
				<td class="status">
					<small>
						{{game.status.status}}
						<span v-bind:data-time="game.date" v-if="game.linescore">
								
						</span>
					</small>
				</td>
			</tr>
		</table>
	</div>
</template>

@*


	@{
		var game = Model;

		var startAtInningIndex = 0;
		var inningCount = 9;
		var dayString = "";
		if (game != null && game.Linescore != null && game.Linescore.Innings != null && game.Linescore.Innings.Length > inningCount)
		{
			inningCount = game.Linescore.Innings.Length;
			startAtInningIndex = inningCount - 9;
		}

		if (game != null)
		{
			dayString = game.DateObj.ToString("yyyyMMdd");
		}

		var eventTimeString = string.Format("{0}{1} {2}", game.EventTime, game.EventTimeAmPm, game.TimeZone);
	}

	<div class="game-summary" data-homecode="@game.HomeFileCode" data-awaycode="@game.AwayFileCode">
		<a href="/game/@dayString/@game.GamePk" class="game-link"></a>

		<table>
			<tr>
				<td class="status">
					<small>
						@game.Status.Status
						@if (game.Linescore == null)
						{
							<span data-time="@game.DateObj">
								 - @eventTimeString
							</span>
						}
					</small>
				</td>
				@if (game.Linescore != null)
				{
					for (var i = startAtInningIndex; i < inningCount; i++)
					{
						<td class="inning">
							<strong>@(i + 1)</strong>
						</td>
					}
					<td class="runs">R</td>
					<td class="hits">H</td>
					<td class="errors">E</td>
				}
			</tr>
			<tr class="team away">
				<td class="team-info">
					<span class="team-logo dark @game.AwayFileCode"></span>
					<span class="team-name">@game.AwayTeamName</span>
				</td>
				@if (game.Linescore != null && game.Linescore.Innings != null)
				{
					for (var i = startAtInningIndex; i < inningCount; i++)
					{
						var value = "-";
						if (game.Linescore.Innings.Length > i)
						{
							var inning = game.Linescore.Innings[i];
							if (inning.Away != null)
							{
								value = inning.Away;
							}
						}
						<td class="inning score-box">@value</td>
					}
					<td class="runs score-box">@game.Linescore.Runs.Away</td>
					<td class="hits score-box">@game.Linescore.Hits.Away</td>
					<td class="errors score-box">@game.Linescore.Errors.Away</td>
				}
			</tr>
			<tr class="team home">
				<td class="team-info">
					<span class="team-logo dark @game.HomeFileCode"></span>
					<span class="team-name">@game.HomeTeamName</span>
				</td>
				@if (game.Linescore != null && game.Linescore.Innings != null)
				{
					for (var i = startAtInningIndex; i < inningCount; i++)
					{
						var value = "-";
						if (game.Linescore.Innings.Length > i)
						{
							var inning = game.Linescore.Innings[i];
							if (inning.Home != null)
							{
								value = inning.Home;
							}
						}
						<td class="inning score-box">@value</td>
					}
					<td class="runs score-box">@game.Linescore.Runs.Home</td>
					<td class="hits score-box">@game.Linescore.Hits.Home</td>
					<td class="errors score-box">@game.Linescore.Errors.Home</td>
				}
			</tr>
		</table>
	</div>

*@