@using System.Web.Optimization;

@model BaseballTheater.Shared.Models.BaseModel

@{
	Layout = null;

	ViewBag.Title = ViewBag.Title != null ? ViewBag.Title + " | Baseball Theather" : "Baseball Theater";

	ViewBag.BodyClass = ViewBag.BodyClass ?? "";
}

<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>@ViewBag.Title</title>

		<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/css/pikaday.min.css"/>

		@Styles.Render("~/stylebundles/app")

		@Html.Partial("_favicons")

		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		
		@RenderSection("ExtraHead", false)

		<title>@ViewBag.Title</title>
	</head>
<body class="@ViewBag.BodyClass">




<header>
	<div class="header-content">
		<a class="logo" href="/">Baseball <i class="fa fa-film" aria-hidden="true"></i> Theater</a>

		<div class="expand-links">
			<i class="fa fa-angle-down" aria-hidden="true"></i>
		</div>
		<div class="links">
			<a href="mailto:baseballtheater@gmail.com" title="Send me your ideas!" target="_blank">
				Feedback
			</a>
		</div>
	</div>
</header>
<div id="body-wrapper">
	<div class="loading-spinner">
		<img src="~/images/ring.svg" />
	</div>
	<div class="body-content">
		@RenderBody()
	</div>
</div>

<footer>
	Created by <a href="https://github.com/jakelauer/"> Jake Lauer</a> (<a href="http://reddit.com/u/HelloControl_">/u/HelloControl</a>)

	<div style="margin-top:20px;">
		<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
		<script type='text/javascript'>kofiwidget2.init('Buy Me a Beer', '#ee4f4f', 'A76217J'); kofiwidget2.draw();</script>
	</div>
</footer>

	@Scripts.Render("~/bundles/lib")
	@Scripts.Render("~/scriptbundles/mlbdataserver")
	@Scripts.Render("~/scriptbundles/site")
	
	@Scripts.Render("~/scriptbundles/app")

<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js"></script>

@RenderSection("Scripts", false)

<script>
	(function(i, s, o, g, r, a, m)
	{
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function()
		{
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-23730353-4', 'auto');
	ga('send', 'pageview');

</script>
	
	
<script>
	if (location.hostname === "baseball.theater")
	{
		window.addEventListener('load',
			function() {
				var outputElement = document.getElementById('output');

				navigator.serviceWorker.register('/Shared/Scripts/sw.js', { scope: './Shared/Scripts/' })
					.then(function(r) {
						console.log('registered service worker');
					})
					.catch(function(whut) {
						console.error('uh oh... ');
						console.error(whut);
					});

				window.addEventListener('beforeinstallprompt',
					function(e) {
						outputElement.textContent = 'beforeinstallprompt Event fired';
					});
			});
	}
</script>




</body>

</html>
