@using System.Web.Optimization;

@model BaseballTheater.Shared.Models.BaseModel

@{
	Layout = null;

	ViewBag.Title = ViewBag.Title != null ? ViewBag.Title + " | Baseball Theather" : "Baseball Theater";

	ViewBag.BodyClass = ViewBag.BodyClass ?? "";

	var description = ViewBag.Description ?? "Video highlights for all baseball games!";
}

<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>@ViewBag.Title</title>

		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		@Styles.Render("~/stylebundles/app")

		@Html.Partial("_favicons")

		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
		<meta name="theme-color" content="#9e1414">
		<meta name="Description" content="@description" />
		
		@RenderSection("ExtraHead", false)

		<title>@ViewBag.Title</title>
	</head>
<body class="@ViewBag.BodyClass">


<header>
	<div class="menu-trigger"><i class="fa fa-bars" aria-hidden="true"></i></div>
	<div class="header-content">
		<a class="logo" href="/">Baseball <i class="fa fa-film" aria-hidden="true"></i> Theater</a>
	</div>
</header>
<div class="side-menu">
	<a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
	<a href="/backers"><i class="fa fa-smile-o" aria-hidden="true"></i> Backers</a>
	<a href="https://github.com/BaseballTheater" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> View on GitHub</a>

	@Html.Partial("_patreon")
</div>
<div id="body-wrapper">
	<div class="loading-spinner">
		<img src="~/images/ring.svg" />
	</div>
	<div class="body-content">
		@RenderBody()
	</div>
</div>

<footer>

	@Html.Partial("_patreon")
	<br /><br />
	Created by <a href="https://github.com/jakelauer/"> Jake Lauer</a> (<a href="http://reddit.com/u/HelloControl_">/u/HelloControl</a>)
	<br /><br />
	<div class="links">
		<a href="mailto:baseballtheater@gmail.com" title="Send me your ideas!" target="_blank">
			Send me your feedback!
		</a>
	</div>
</footer>


<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-23730353-4', 'auto');
	ga('send', 'pageview');

</script>

	@Scripts.Render("~/bundles/lib")
	@Scripts.Render("~/scriptbundles/mlbdataserver")
	@Scripts.Render("~/scriptbundles/site")
	
	@Scripts.Render("~/scriptbundles/app")

@RenderSection("Scripts", false)
	
	
<script>
	var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
	if (location.hostname === "baseball.theater" && location.pathname === "/" && isChrome)
	{
		window.addEventListener('load',
			function() {
				var outputElement = document.getElementById('output');

				navigator.serviceWorker.register('/Shared/Scripts/sw.js', { scope: '/Shared/Scripts/' })
					.then(function(r) {
						console.log('registered service worker');
					})
					.catch(function(whut) {
						console.error('uh oh... ');
						console.error(whut);
					});

				window.addEventListener('beforeinstallprompt',
					function(e) {
						outputElement.textContent = 'beforeinstallprompt Event fired';
					});
			});
	}
</script>


</body>

</html>
