@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>@ViewBag.Title</title>

		<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="~/Shared/Styles/base.css?v=1">
		<link rel="stylesheet" href="~/Shared/Styles/teams.css?v=1">
		
		@RenderSection("ExtraHead", false)

	</head>
<body>
	<header>
		<div class="header-content">
			<a class="logo" href="/">Baseball Theater</a>
		</div>
	</header>
	<div id="body-wrapper">
		@RenderBody()
	</div>
	
	<footer>
		&copy; @DateTime.Now.Year
		Created by Jake Lauer (<a href="http://reddit.com/u/HelloControl_">/u/HelloControl</a>)
	</footer>

	@{
		var scripts = new List<string>()
			{
				"libraries/modernizr-2.6.2.js",
				"libraries/jquery-2.1.4.min.js",

				"prototypes/mlb.js",

				"base.js",
			};

		foreach (var script in scripts)
		{
			<script src="~/Shared/Scripts/@script" type="text/javascript"></script>
		}
	}

	@RenderSection("Scripts", false)

</body>

</html>
