@using System.Text.RegularExpressions
@using BaseballTheater.Areas.Game.Models

@model GameModel

@{
	Layout = "~/Shared/Views/_Layout.cshtml";

	if (Model.GameSummary != null)
	{
		ViewBag.Title = Model.GameSummary.AwayTeamName + " @ " + Model.GameSummary.HomeTeamName + " - " + Model.Date.ToString("MMMM d, yyyy");
	}
}

@Styles.Render("~/stylebundles/game")



@Html.Partial("_game_summary", Model.GameSummary)

@if (Model.HighlightsCollection != null && Model.HighlightsCollection.Highlights != null)
{
	<div class="highlights">
		@foreach (var highlight in Model.HighlightsCollection.Highlights.OrderByDescending(a => a.Condensed || a.Recap).ThenBy(a => a.DateObj))
		{
			<div class="highlight">
				<h2>@highlight.Headline - @highlight.Duration</h2>
				@if (highlight.Urls != null && highlight.Thumbs != null && highlight.Urls.Any(a => a.EndsWith("mp4")))
				{
					var urls = highlight.Urls.Where(a => a.EndsWith("mp4")).OrderBy(a => a);
					var bigurl = urls.LastOrDefault();
					if (bigurl != null)
					{

						var thumbnail = highlight.Thumbs.LastOrDefault() ?? highlight.Thumb;

						<div class="video">
							<video src="@bigurl" controls preload="none" style="background-image: url(@thumbnail)"></video>
						</div>

						<div class="links">
							<span>Direct: </span>
							@foreach (var url in urls)
							{
								var label = Regex.Match(url, "\\d{4}K");

								if (label.Captures.Count > 0)
								{
									<a href="@url">@label.Captures[0]</a>
								}
							}
						</div>
					}
				}
				else
				{
					<p>Oops, MLB messed up and there's no video file. <a href="http://m.mlb.com/video/v@(highlight.Id)" target="_blank">See?</a> Broken.
					</p>
				}
			</div>
		}
	</div>
}
else
{
	<p class="error">No highlights found for this game</p>
}