@using System.Web.Optimization
@using BaseballTheater.Areas.Home.Models
@using MlbDataServer.DataStructures

@model HomeModel

@{
	Layout = "~/Shared/Views/_Layout.cshtml";

	var inputBoxString = Model.Date.ToString("MMM dd, yyyy");
	var dayBeforeString = Model.Date.AddDays(-1).ToString("yyyyMMdd");
	var dayAfterString = Model.Date.AddDays(1).ToString("yyyyMMdd");

	var teams = new Dictionary<string, string>()
	{
		{ "ari", "Arizona Diamondbacks" },
		{ "atl", "Atlanta Braves" },
		{ "bal", "Baltimore Orioles" },
		{ "bos", "Boston Red Sox" },
		{ "chc", "Chicago Cubs" },
		{ "cws", "Chicago White Sox" },
		{ "cin", "Cincinnati Reds" },
		{ "cle", "Cleveland Indians" },
		{ "col", "Colorado Rockies" },
		{ "det", "Detroit Tigers" },
		{ "mia", "Miami Marlins" },
		{ "hou", "Houston Astros" },
		{ "kc", "Kansas City Royals" },
		{ "laa,ana", "Los Angeles Angels" },
		{ "la", "Los Angeles Dodgers" },
		{ "mil", "Milwaukee Brewers" },
		{ "min", "Minnesota Twins" },
		{ "nym", "New York Mets" },
		{ "nyy", "New York Yankees" },
		{ "oak", "Oakland Athletics" },
		{ "phi", "Philadelphia Phillies" },
		{ "pit", "Pittsburgh Pirates" },
		{ "sd", "San Diego Padres" },
		{ "sf", "San Francisco Giants" },
		{ "sea", "Seattle Mariners" },
		{ "stl", "St. Louis Cardinals" },
		{ "tb", "Tampa Bay Rays" },
		{ "tex", "Texas Rangers" },
		{ "tor", "Toronto Blue Jays" },
		{ "was,wsh", "Washington Nationals" }
	};
}

@Styles.Render("~/stylebundles/home")

@section Scripts{
	@Scripts.Render("~/scriptbundles/home")	
}


<div class="settings flex">
	<div class="day-nav">
		<a href="/@dayBeforeString"><i class="fa fa-chevron-circle-left"></i></a>
		<input type="text" id="calendarpicker" value="@inputBoxString" size="@(inputBoxString.Length + 1)"/>
		<i class="fa fa-calendar" aria-hidden="true"></i>
		<a href="/@dayAfterString"><i class="fa fa-chevron-circle-right"></i></a>
	</div>

	<div class="tools flex">
		<select id="favorite-team">
			<option>- Select Favorite Team -</option>
			@foreach (var team in teams)
			{
				var selected = team.Key == Model.FavoriteTeam ? "selected" : "";

				<option value="@team.Key" @selected>@team.Value</option>
			}
		</select>
		<div class="hide-scores">
			<input type="checkbox" name="scoreshidden" id="scoreshidden"/>
			<label for="scoreshidden">Hide Scores</label>
		</div>
	</div>
</div>

@if (Model.GameCollection != null && Model.GameCollection.GameSummaries != null)
{
	var allGames = Model.GameCollection.GameSummaries.OrderByDescending(a => a.Linescore != null).ThenBy(a => a.DateObj);

	<div class="leagues">
		@foreach (var game in allGames)
		{
			Html.RenderPartial("_game_summary", game);
		}
	</div>
}
else
{
	<p class="error">No games for this date</p>
}

