@using BaseballTheater.Areas.Home.Models
@using MlbDataServer.DataStructures

@model HomeModel

@{
	Layout = "~/Shared/Views/_Layout.cshtml";

	var dayString = Model.Date.ToString("yyyyMMdd");
	var inputBoxString = Model.Date.ToString("MMM dd yyyy");
	var dayBeforeString = Model.Date.AddDays(-1).ToString("yyyyMMdd");
	var dayAfterString = Model.Date.AddDays(1).ToString("yyyyMMdd");
	
	var alGames = Model.GameCollection.GameSummaries.Where(a => a.League == "AA");
	var nlGames = Model.GameCollection.GameSummaries.Where(a => a.League == "NN");
	var ilGames = Model.GameCollection.GameSummaries.Where(a => a.League == "AN" || a.League == "NA");
}

<link href='~/Areas/Home/Styles/home.css' rel='stylesheet' type='text/css'>



<div class="day-nav">
	<a href="/@dayBeforeString"><i class="fa fa-chevron-circle-left"></i></a>
	<input type="text" id="calendarpicker" value="@inputBoxString" size="@inputBoxString.Length" />
	<i class="fa fa-calendar" aria-hidden="true"></i>
	<a href="/@dayAfterString"><i class="fa fa-chevron-circle-right"></i></a>
</div>

@if (Model.GameCollection != null && Model.GameCollection.GameSummaries != null)
{
	<div class="leagues">
		@if (alGames.Any())
		{
			<div>
				<h2>American League</h2>
				@foreach (var game in alGames)
				{
					@GameSummary(game, dayString)
				}
			</div>
		}
		@if (nlGames.Any())
		{
			<div>
				<h2>National League</h2>
				@foreach (var game in nlGames)
				{
					@GameSummary(game, dayString)
				}
			</div>
		}
		@if (ilGames.Any())
		{
			<div>
				<h2>Interleague</h2>
				@foreach (var game in ilGames)
				{
					@GameSummary(game, dayString)
				}
			</div>
		}
	</div>
}
else
{
	<p class="error">No games for this date</p>
}


@helper GameSummary(GameSummary game, string dayString)
{
	<div class="game-summary">
		<a href="/game/@dayString/@game.GamePk" class="game-link">

			<table>
				<tr>
					<td class="status">@game.Status.Status</td>
					@if (game.Linescore != null)
					{
						for (var i = 0; i < game.Linescore.Innings.Length; i++)
						{
							<td class="inning">@(i + 1)</td>
						}
						<td class="runs">R</td>
						<td class="hits">H</td>
						<td class="errors">E</td>
					}
				</tr>
				<tr class="team away">
					<td class="team-info">
						<span class="team-logo dark @game.AwayFileCode"></span>
						<span class="team-name">@game.AwayTeamName</span>
					</td>
					@if (game.Linescore != null)
					{
						for (var i = 0; i < game.Linescore.Innings.Length; i++)
						{
							var inning = game.Linescore.Innings[i];
							<td class="inning">@inning.Away</td>
						}
						<td class="runs">@game.Linescore.Runs.Away</td>
						<td class="hits">@game.Linescore.Hits.Away</td>
						<td class="errors">@game.Linescore.Errors.Away</td>
					}
				</tr>
				<tr class="team home">
					<td class="team-info">
						<span class="team-logo dark @game.HomeFileCode"></span>
						<span class="team-name">@game.HomeTeamName</span>
					</td>
					@if (game.Linescore != null)
					{
						for (var i = 0; i < game.Linescore.Innings.Length; i++)
						{
							var inning = game.Linescore.Innings[i];
							<td class="inning">@inning.Home</td>
						}
						<td class="runs">@game.Linescore.Runs.Home</td>
						<td class="hits">@game.Linescore.Hits.Home</td>
						<td class="errors">@game.Linescore.Errors.Home</td>
					}
				</tr>
			</table>
		</a>
	</div>
}